extends a1layout.pug

block append headBlock
    script. 
        let currentPage;
        window.addEventListener('load', function () {
            currentPage = #{a1.currentPage};
            currentStack = #{a1.currentStack};
            rStr = #{a1.rStr};
            loadedUp = true;
        });

        function nextPage(){
            //if currentPage is 1
            //include code below to check if atleast one radio item is selected
            //var checkRadio = document.querySelector('input[name="theIssue"]:checked');

            //if currentPage is 2

            let nextPageCall = currentPage + 1; 
            let callString = "/activity1/?page=" + nextPageCall 
                            + "&" + "currentStack=" + currentStack 
                            + "&" + "rStr=" + rStr;
            let nextLink = document.getElementById("next");
            nextLink.setAttribute("href", callString);
        }

        function previousPage(){
            //if currentPage is 1
            //include code below to check if atleast one radio item is selected
            //var checkRadio = document.querySelector('input[name="theIssue"]:checked');

            //if currentPage is 2

            let previousPageCall = currentPage - 1; 
            let callString = "/activity1/?page=" + previousPageCall 
                                + "&" + "currentStack=" + currentStack
                                + "&" + "rStr=" + rStr;
            let previousLink = document.getElementById("previous");
            previousLink.setAttribute("href", callString);
        }


block append myBody
    .mainstuff
        if a1.currentPage == 1
            h3  #{a1.reasons.reasonsIntro} 
            p  #{a1.reasons.reasonsText}
            ul
                each val, index in a1.reasons.reasonsStack
                    li= a1.reasons.reasonsStack[index].text
        if a1.currentPage == 2
            h1 It's happening 2!
    .bottomPart
        a(class='NextButton myButton' id="next" onclick="nextPage()") Next &raquo;

        a(class="PreviousButton myButton" id="previous" onclick="previousPage()") &laquo; Previous;