extends a1layout.pug

block append headBlock
    style. 
        #bgi{
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(214, 212, 214, 0.8)),url(/images/thaiBuddhaSmall.png), url(/images/midbreak.png), url(/images/thaiBuddhaSmall.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: center top, center center, center bottom;}

    script. 
        let currentPage;
        window.addEventListener('load', function () {
            currentPage = #{a1.currentPage};
            currentStack = #{a1.currentStack};
            rStr = #{a1.rStr};
            loadedUp = true;
        });

        function nextPage(){
            //if currentPage is 1
            //include code below to check if atleast one radio item is selected
            //var checkRadio = document.querySelector('input[name="theIssue"]:checked');

            //if currentPage is 2

            let nextPageCall = currentPage + 1; 
            let callString = "/activity1/?page=" + nextPageCall 
                            + "&" + "currentStack=" + currentStack 
                            + "&" + "rStr=" + rStr;
            let nextLink = document.getElementById("next");
            nextLink.setAttribute("href", callString);
        }

        function previousPage(){
            //if currentPage is 1
            //include code below to check if atleast one radio item is selected
            //var checkRadio = document.querySelector('input[name="theIssue"]:checked');

            //if currentPage is 2

            let previousPageCall = currentPage - 1; 
            let callString = "/activity1/?page=" + previousPageCall 
                                + "&" + "currentStack=" + currentStack
                                + "&" + "rStr=" + rStr;
            let previousLink = document.getElementById("previous");
            previousLink.setAttribute("href", callString);
        }

block append myBody
    //set id to bgi when you need background images to show
    if a1.currentPage == 4 || a1.currentPage == 5
        - var mooID = "bgi";
    .mainStuff(id = mooID) 
        .uptext
            //on page 1 show intro
            if a1.currentPage == 1
                 p. 
                    #{a1.ImageStack[a1.currentStack].stackIntro}

            //on page 2 start with correct answer
            //show question -- then iterate through for correct answer 
            if a1.currentPage == 2
                p. 
                    #{a1.Question1.questionText}
                each val, index in a1.Question1.responseStack
                    if a1.Question1.responseStack[index].isCorrect 
                        p ** #{a1.Question1.responseStack[index].radioText}
        // if 1 or 2 show image
        if a1.currentPage == 1 || a1.currentPage == 2 || a1.currentPage == 3
            .showImage
                - var imgsrc = "/" + a1.ImageStack[a1.currentStack].stackImg1;
                img(src= imgsrc , alt="alt", width="300px" height="225px")
        //if page 3 show both real and manipualted image 
        if a1.currentPage == 3
            .showImage
                -var imgsrc2 = "/" + a1.ImageStack[a1.currentStack].stackImg2;
                img(src= imgsrc2 , alt="alt", width="300px" height="225px")
        // page 1 shows questions
        // page 2 show explainer text
        .lowtext
            if a1.currentPage == 1
                p. 
                    #{a1.Question1.questionText}
                form(action="" method="")
                    each val, index in a1.Question1.responseStack
                        - var myRadioName = a1.Question1.responseStack[index].radioName;
                        - var myRadioValue =  a1.Question1.responseStack[index].radioValue;
                        - var myRadioText = a1.Question1.responseStack[index].radioText;
                        input(type='radio', name= myRadioName, id= myRadioValue, value= myRadioValue)
                        label(for=myRadioValue) #{myRadioText}
                        <br>
            if a1.currentPage == 2
                p.
                    #{a1.ImageStack[a1.currentStack].stackExplain}
        // page 4 do the write over
        if a1.currentPage == 4
            .writeOver
                h2  #{a1.SocialConsequences.reflectHeader} 
                h4   #{a1.SocialConsequences.reflectQuestion1}
                <br><br><br><br><br><br>
                h4   #{a1.SocialConsequences.reflectQuestion2}
                .slidecontainer
                    input(type="range" min="1" max="100" value="50" class="slider" id="conRange")
                    <br><br><br><br><br><br>
        if a1.currentPage == 5
            .writeOver
                p. 
                    #{a1.Question2.questionText}
                form(action="" method="")
                    each val, index in a1.Question2.responseStack
                        - var myRadioName = a1.Question2.responseStack[index].radioName;
                        - var myRadioValue =  a1.Question2.responseStack[index].radioValue;
                        - var myRadioText = a1.Question2.responseStack[index].radioText;
                        input(type='radio', name= myRadioName, id= myRadioValue, value= myRadioValue)
                        label(for=myRadioValue) #{myRadioText}
                        <br>
    
    .bottomPart
        a(class='NextButton myButton' id="next" onclick="nextPage()") Next &raquo;

        if a1.currentPage > 1 || a1.currentStack > 0
            a(class="PreviousButton myButton" id="previous" onclick="previousPage()") &laquo; Previous;